body{
	margin: 150px;
	margin-top: 100px;
	width: 940px;
	margin-left: 200px;
}
.arial{
	font-family: arial;
}
.verdana{
	font-family: vardana;
}
table{
	font-size: 20px;
	height: 70px;
	width: 1020px;
	margin-left: 20px;
}
.space{
	width: 180px;
	height: 80px;
}

.helvetica{
	font-family: helvetica;
}
.trebuchet-ms{
	font-family: Trebuchet MS;
}
.gillsans{
	font-family: Gill Sans;
}
.notosans{
	font-family: Noto Sans;
}
.Avantgarde{
	font-family: Avantgarde;
}
.ArialNarrow{
	font-family: Arial Narrow;
}
.Times{
	font-family: Times;
}
.roman{
	font-family: Times New Roman;
}
.Georgia{
	font-family: Georgia;
}
.Palatino{
	font-family: Palatino;
}
td{
	width: 1000px;
}
.Courier{
	font-family: Courier;
}
.AndaleMono{
	font-family: Andale Mono;
}
.cursive{
	font-family: cursive;
}
.urw{
	font-family: impact;
}
.fantasy{
	font-family: fantasy;
}
p{
	text-align: justify;
	width: 900px;
	margin-left: 20px;
	font-size: 15px;
	font-family: arial;
}
.Garamond{
	font-family: Garamond;
}
.Century{
	font-family: Century;
}
.age{
	font-family: Courier New;
}
.Consolas{
	font-family: Consolas;
}
.luci{
	font-family: Lucida Console;
}
.mono{
	font-family: Monotype Corsiva;
}
.Mistral{
	font-family: Mistral;
	font-size: 25px;
}
.gothic{
	font-family: Gothic;
}
.cent{
	font-family: Century Gothic;
}
.rob{
	font-family: Robson Celtic;
}
.Trattatello{
	font-family: Bookman;
}
.div1{
	color: black;
	opacity: 60%;
	font-size: 30px; 
	font-family: Century Gothic;
	margin-top: -70px;
	border: 1px solid grey;
	height: 100px;
	box-shadow: 0 0 20px #555;
}
.d{
	padding-left: 20px;
	padding-top: 10px;
}
img{
	width: 100px;
	float: right;
	margin-top: -100px;
	margin-right: 50px;
}
.obm{
	border: 1px solid darkgrey;
	box-shadow: 0 0 30px #555;
}
.spacer{

}
h2{
	text-align: center;
	height: 60px;
}
h3{
	margin-left: 20px;
	color: black;
	opacity: 90%;
	font-size: 25px;
}
